
/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Montserrat:wght@300;700&family=Nanum+Pen+Script&display=swap');

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}
.next-1{
  border:1px;
}
.next-2{
  border: 1px;
}
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: radial-gradient(circle, rgba(189,56,16,1) 0%, rgba(0,0,0,0.07326680672268904) 100%);
}
.footer{
  background: radial-gradient(circle, rgba(189,56,16,1) 0%, rgba(0,0,0,0.07326680672268904) 100%);
}

ul{
  list-style: none;
}

.main {
  text-align: left;
  max-width: 100%;
  background: radial-gradient(circle, rgba(189,56,16,1) 0%, rgba(0,0,0,0.07326680672268904) 100%);
}


.aside-1 {
  background: radial-gradient(circle, rgba(189,56,16,1) 0%, rgba(0,0,0,0.07326680672268904) 100%);
  max-width: 50%;
}

.aside-2 {
  max-width: 50%;

}
.aside-2 ul{
  list-style: none;

}
main  .wrapper  h2 {
  padding-left: 10px;
  margin-bottom: 0;
}
main h2{
  text-align: center;
}
.item p{
  font-size: 24px;
}
.item-double p{
  font-size: 24px;
}
main .intro {
  font-size: 32px;
  color: #6b655b;
}
header h1 {
  color: #eff0e5;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 56px;
  text-shadow: 2px 2px 4px #000000;
}
/* Header + Nav*/

header {
  background-color: #6b655b;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header nav ul {
  display:flex;
  flex-direction: row;
  padding-left: 20px;
  list-style: none;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px 0 0;
}
header nav ul li a:visited{
  color: darkblue;
}
header nav ul li:last-child a {
  margin-right: 20px;
}
header h3{
  text-align:center;
}
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: rgb(189,56,16);
  background: radial-gradient(circle, rgba(189,56,16,1) 0%, rgba(0,0,0,0.07326680672268904) 100%);
}

img {
  max-width: 100%;
}

main h2 {
  font-size: 28px;
  font-family: 'Playfair Display', serif;
}

main h3 {
  font-size: 22px;
  font-family: 'Playfair Display', serif;
}

main p {
font-family: 'Playfair Display', serif;
 line-height: 1.5em;
 margin-bottom: 0em;
}
/* ARTICLE SECTIONS */

#home, #portfolio, #contact {
  margin-bottom: 120px;
}

/* ABOUT ARTICLE */

#about {
  background-color: #c5c0b8;
  padding: 20px 0 30px 0;
  margin: 120px 0;
}

/*forms */
footer input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
/* form test*/
.form-style-1 {
	max-width: 400px;
	padding: 20px 12px 10px 20px;
}
.form-style-1 li {
	padding: 0;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	font-weight: bold;
}


@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .aside { flex: 1 auto; }
  .next {flex:1 auto;}
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
  .main { flex: 2 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}